@import url("./__wrapper/page__wrapper.css");

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter', 'sans-serif';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}