@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css"); 

.lead {
    margin: 0 auto; 

}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .lead {
        margin: 58px 0px 92px;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .lead {
        margin: 50px 0px 88px;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        margin: 50px 0px 64px;
    }
}

