.place__paragraph {
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1280 - 300)));
    line-height: 163%;
    color: #FFFFFF;
    margin: 0px 0px 27px 40px;
    padding: 0px;
}

@media screen and (max-width: 766px) {
    .place__paragraph {
        margin: 0px 16px 25px;
    }

    .place__paragraph:last-child {
        margin: 0px 16px 0px;
    }
}
