.footer__copyright {
    display: flex;
    max-width: 168px;
    max-height: 16px;
    font-size: 14px;
    line-height: 0.9;
    text-align: right;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        text-align: left;
        margin: 48px 0px 0px 16px;
        font-size: 14px;
    }
}