.footer__wrapper {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 475px) {
    .footer__wrapper {
       flex-direction: column;
    }
    
}
