.footer__wrapper {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .footer__wrapper {
       flex-direction: column;
    }
    
}
