.cover__background {
    background: url("../../../images/cover-route-66.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #FFFF;
    text-decoration: none;
    position: relative;
}

  
  .cover__background::before {
    content: "";
    position: absolute;
    background-color: rgba(42, 44, 47, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 1s linear;
  }
  
  .cover__background:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
  } 