.lead__caption {
    height: 14px;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0px;
    margin: 8px 0px 0px;
}

@media screen and (min-width: 290px) and (max-width: 770px) {
    .lead__caption {
        padding-left: 24px;
    }
}
