.cover__title {
    max-width: 656px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    padding: 0px;
    margin-bottom: 32px;
    z-index: 2;  
}

@media screen and (max-width: 1280px) {
    .cover__title {
        font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1280 - 320)));
    }
}