.page__wrapper {
    width: calc(100% - 96px);
    max-width: 1184px;
    margin: auto;
}

@media screen and (max-width: 1024px) and (min-width: 300px) {
    .page__wrapper {
        width: 100%;  
    }
}

