.place__website {
    grid-column-start: 2;
    padding-left: 40px; 
    display: flex; 
    align-self: flex-end; 
    flex-direction: column; 
}

@media screen and (max-width: 766px) {
    .place__website {
        display: none; 
    }

}
