.place__website {
    grid-column-start: 2;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .place__website {
        display: none;
    }
}
