.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.0;
    color: #FFFFFF;
    margin: 0px 0px 40px;
    padding: 0px;
}

@media screen and (min-width: 300px) and (max-width: 770px) {
    .intro__title {
        font-size: 32px;
    }
}